<p class="login-box-msg">Update password</p>

<form action="/reset-process" method="post" class="ajax-form">
	<input type="hidden" name="token" value="{{token}}" />
	<div class="input-group mb-3">
		<input type="password" name="password" class="form-control" placeholder="New Password">
		<div class="input-group-append">
			<div class="input-group-text">
				<span class="fas fa-lock"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- /.col -->
		<div class="col-4">
			<button type="submit" class="btn btn-primary btn-block btn-flat">Update Password</button>
		</div>
		<!-- /.col -->
	</div>
</form>


<p class="mb-1">
	<a href="/login">Cancel</a>
</p>