<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>An error occured</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/css/asaana-main.min.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition">
	<div class="p-0">


		<!-- Content Wrapper. Contains page content -->
		<div class="card-body p-0">

			<!-- Main content -->
			<section class="content">
				<div class="error-page">
					<img src="/img/logo.png" class="mb-5 mx-auto d-block" alt="Asaana Logo" />
					<h2 class="headline text-warning"> {{status}}</h2>

					<div class="error-content">
						<h3><i class="fas fa-exclamation-triangle text-warning"></i>{{message}}</h3>

						<p>
							We could not find the page you were looking for.
							Meanwhile, you may <a href="/">return to dashboard</a>
						</p>
					</div>
					<!-- /.error-content -->
				</div>
				<!-- /.error-page -->
			</section>
			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	<script src="/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>